<div class="row">

  <!-- サイドバー -->
  <div class="col-xs-4">
    <%= render "layouts/sidebar" %>
  </div>

  <!-- アイドル一覧 -->
  <div class="col-xs-8">
    <!-- タイトル -->
  <h2 class="heading">
    <span>アイドル一覧</span>
    <%= link_to new_idol_path do %>
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="font-size:30px"></span>
    <% end %>
  </h2>
  <hr>
    <%= render "index", idols: @idols %>
  </div>

</div>
