<% provide(:title, "アイドル一覧") %>

<div class="row">

  <div class="col-xs-4">
    <%= render "layouts/sidebar" %>
  </div>

  <div class="col-xs-8">
    <div class="head">
      <h2 class="index-heading">
        <span>アイドル一覧</span>
      </h2>
      <%= link_to "新規アイドル登録", new_idol_path, class: "click-btn click-btn-add" %>
    </div>
    <hr>

    <div class="idols_index">
      <%= render "ajax_index", idols: @idols %>
    </div>
  </div>

</div>
