<% provide(:title, "退会確認") %>

<div class="row" style="text-align: center;">
  <h2>本当に退会しますか？</h2>
  <br>
  <h4>退会すると、イベントの新規作成が出来なくなり、
  <br>
  お気に入り登録情報が閲覧できなくなります。
  <br>
  退会する場合は、「退会する」をクリックしてください。</h4>
  <table class="confirm">
    <% if user_signed_in? && @user.id == current_user.id %>
      <%= link_to "退会しない",user_path(@user.id), class: 'click-btn click-btn-success' %>
      <%= link_to "退会する",user_hide_path(@user.id), method: :put, class: 'click-btn click-btn-danger' %>
    <% end %>
  </table>
</div>
