<% provide(:title, "タイムライン") %>

<!-- タブ・メニュー -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#sampleContentA" data-toggle="tab">タイムライン</a></li>
  <li><a href="#sampleContentB" data-toggle="tab">いいね</a></li>
  <li><a href="#sampleContentC" data-toggle="tab">フォロー</a></li>
  <li><a href="#sampleContentD" data-toggle="tab">フォロワー</a></li>
</ul>

<!-- タブ内容 -->
<div class="tab-content">
  <div class="tab-pane active" id="sampleContentA">
    <h2>タイムライン</h2>
    <div id="ajax_event_photos">
      <% if @event_photos.count > 0 %>
        <%= render '/event_photos/index', event_photos: @event_photos %>
      <% else %>
        <p>タイムラインはありません</p>
      <% end %>
    </div>
  </div>

  <div class="tab-pane" id="sampleContentB">
    <h2>Favorite EventPhotos</h2>
    <div id="favorite_eventphotos">
      <% if current_user.good_event_photos.count > 0 %>
        <%= render '/event_photos/index', event_photos: @user.good_event_photos %>
      <% else %>
        <p>いいねした投稿はありません</p>
      <% end %>
    </div>
   </div>

  <div class="tab-pane" id="sampleContentC">
    <h2>Follow Users</h2>
    <div id="ajax_fallowing">
      <% if @user.following_user.count > 0 %>
          <%= render '/users/index', users: @user.following_user %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>

  <div class="tab-pane" id="sampleContentD">
    <h2>Follower Users</h2>
    <div id="ajax_fallower">
      <% if @user.follower_user.count > 0 %>
          <%= render '/users/index', users: @user.follower_user %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>