<!-- サイドバー -->
<div class="col-xs-4">
  <%= render "layouts/sidebar"%>
</div>

<!-- イベント編集フォーム -->
<div class="col-xs-8">
  <h2 class="heading"><span>イベント編集</span></h2>
  <hr>
  <%= render 'form', event: @event %>
  <br>
</div>
