<% provide(:title, "イベント編集(#{@event.title})") %>

<div class="col-xs-4">
  <%= render "layouts/sidebar"%>
</div>

<div class="col-xs-8">
  <h2 class="heading"><span>イベント編集</span></h2>
  <hr>
  <%= render 'form', event: @event %>
  <br>
</div>
