<% provide(:title, "イベント一覧") %>

<h2 class="heading"><span>イベントカレンダー</span></h2>
<hr>

<div id="calendar"></div>
<hr>

<h3>今月のイベント</h3>
<%= render "index", events: @this_month_events %>
<br>
<%= link_to 'イベント新規作成', new_event_path, class: "btn1 btn1-add" %>