<h2 class="heading"><span>イベントカレンダー</span></h2>
<hr>

<div id="calendar"></div>
<hr>

<%= render "index", events: @events %>
<br>
<% if user_signed_in? %>
  <%= link_to 'イベント新規作成', new_event_path %>
<% end %>