<!-- サイドバー -->
<div class="col-xs-4">
  <%= render "layouts/sidebar"%>
</div>

<!-- イベント新規登録フォーム -->
<div class="col-xs-8">
  <h2 class="heading"><span>イベント新規登録</span></h2>
  <hr>
  <%= render 'form', event: @event %>
</div>
