<h1>チャットルーム一覧</h1>

<% @rooms.each do |room| %>
  <div>
    <%= link_to "Room#{room.id}", room_path(room) %>
  </div>
<% end %>

<%= link_to "新規チャットルーム作成", rooms_path, method: :post, class: "btn btn-primary" %>