<% provide(:title, "チャットルーム一覧") %>

<div class="col-md-6 col-xs-12">
  <h1>チャットルーム一覧</h1>
  <hr>

  <% @rooms.each do |room| %>
    <div>
      <%= link_to "Room#{room.id}", room_path(room) %>
    </div>
  <% end %>

  <br>
  <%= link_to "新規チャットルーム作成", rooms_path, method: :post, class: "btn1 btn1-success" %>
</div>