<h1>Chat room</h1>

<form>
  <label>投稿:</label><br>
  <!-- room_speaker からサーバへメッセージを送信する -->
  <input type="text" data-behavior="room_speaker">
</form>
<br>

<div id="chats">
  <%= render partial: "chats/chat", collection: @chats %>
</div>
