/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* リセットCSS */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

 /* フラッシュメッセージ */
 #notice {
  color: green;
 }

 #error {
  color: red;
 }

 /* エラーメッセージ */
 #error_explanation {
  width: 300px;
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px pink;
  background-color: #fffafa;
  border-radius: 8px;
 }

 #error_explanation .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: red;
  font-weight: bold;
 }

 #error_explanation ul li {
  padding-top: 5px;
  list-style: none;
 }

 #flash_alert {
  color: red;
 }

 .field_with_errors {
  padding: 2px;
  background-color: #fcc;
  border-radius: 10px;
 }

 /* ロゴ */
 .logo {
  text-align: center;
 }

 .logo img {
  width: 200px;
  height: auto;
 }

 /* ヘッダー(メニューバー) */
 .navbar {
  min-height: 0px;
  color: #fff;
 }

 .navbar a {
  color: #fff;
 }

 .navbar a:hover {
  color: black;
  background-color: gray;
 }

 /* サイドバー */
 .search-form select {
  margin-top: 10px;
 }

 /* 共通部分 */
 a, a:link, a:visited {
  text-decoration: none;
 }

 .heading span {
  background-color: #F5F5F5;
 }

 .btn {
  margin: 5px;
 }


