/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require dropzone/basic
 *= require dropzone/dropzone
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 /* リセットCSS */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

 /* フラッシュメッセージ */
 #notice {
  color: green;
 }

 #error {
  color: red;
 }

 /* エラーメッセージ */
 #error_explanation {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px pink;
  background-color: #fffafa;
  border-radius: 8px;
 }

 #error_explanation .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: red;
  font-weight: bold;
 }

 #error_explanation ul li {
  padding-top: 5px;
  list-style: none;
 }

 #flash_alert {
  color: red;
 }

 .field_with_errors {
  display: contents;
  color: red;
 }

 /* フォント */
 body {
 font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
 }

 /* ロゴ */
 .logo {
  text-align: center;
 }

 /* ヘッダー(メニューバー) */
 .navbar {
  min-height: 0px;
  color: #fff;
 }

 .navbar a {
  color: #fff;
 }

 .navbar a:hover {
  color: black;
  background-color: gray;
 }

 /* サイドバー */
 .search-form select {
  margin-top: 10px;
 }

 /* フッター */
 footer {
  margin-top: 20px;
 }

 /* 共通部分 */
 a, a:link, a:visited {
  text-decoration: none;
 }

 .head {
  height: 30px;
 }

 .heading {
  margin: 0px;
 }

 .heading span {
  background-color: #F5F5F5;
 }

 .top-heading {
  text-align: center;
 }

 .index-heading {
  margin: 0px;
  float: left
 }

 .index-heading span {
  background-color: #F5F5F5;
 }

 .btn1 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;

  a, a:link, a:visited {
  color: white;
  }
}

.btn1-success {
  background: #00ff7f;
}

.btn1-danger {
  background: #ffb6c1;
}

.btn1-warning {
  background: #ffa500;
}

.btn1-info {
  background: #ffff00;
}

.btn1-add {
  background: #e0ffff;
  float: left;
  margin-left: 20px;
}

.btn1-max {
  text-align: center;
  width: 100%;
}

.btn1:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.list-box {
  margin-top: 10px;
  float: left;
  position: relative;
  text-align: center;
}

.list-body {
  display: block;
  color: gray;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  }

.list-title {
  display: block;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  }

.idol-box {
  width: 240px;
  height: 320px;
}

.place-box {
  width: 240px;
  height: 270px;
}

.new-photo {
  width: 323px;
}

.user-photo {
  width:242px;
}

.photo {
  width: 377px;
}


