/* タイムライン */

.masonry-wrapper-cols {
  background-color: #EAEBED;
  text-align: center;
}

.masonry-block {
  margin: 50px 0;
  background-color: #FFFFFF;
}

.masonry-block img {
  margin: 10px auto;
}

.block-content ul li {
  list-style: none;
}
