<p>こんにちは <%= @resource.name %>さん</p>

<p>パスワード変更のリクエストを頂きました。下記のリンクからパスワードが変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、このメールに心当たりがなければ無視してください。</p>
<p>あなたのパスワードは上記リンクからパスワードを変更しない限り、変更されません。</p>
<p>今後ともidol placesをよろしくお願いいたします。</p>
