<% places.each do |place| %>
  <div class="list-box place-box">
    <% if place.image_id? %>
      <%= image_tag place.image_id.to_s, size: "240x180" %>
    <% else %>
      <%= image_tag "no_image.jpg", size: "240x180" %>
    <% end %>
    <span class="list-title"><%= link_to place.name, place_path(place) %></span>

    <!-- お気に入りボタン -->
    <%= render 'bookmarks/bookmark', place: place %>
  </div>
<% end %>