<div class="row">

  <!-- サイドバー -->
  <div class="col-xs-4">
    <%= render "layouts/sidebar"%>
  </div>

  <!-- 場所一覧 -->
  <div class="col-xs-8">
    <%= render "index", places: @places %>
  </div>

</div>
