<div class="row">

  <!-- サイドバー -->
  <div class="col-xs-4">
    <%= render "layouts/sidebar"%>
  </div>

  <!-- 場所一覧 -->
  <div class="col-xs-8">
    <div class="head">
      <!-- タイトル -->
      <h2 class="index-heading">
        <span>場所一覧</span>
      </h2>
      <%= link_to "新規場所登録", new_place_path, class: "btn1 btn1-add" %>
    </div>
    <hr>

    <div class="places_index">
      <%= render "ajax_index", places: @places %>
    </div>
  </div>

</div>
