<% if obj.errors.any? %>
  <div id="error_explanation">
    <!-- <h3><%= pluralize(obj.errors.count, "error") %> prohibited this obj from being saved:</h3> -->
    <span class="box-title"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>&nbsp;ERROR</span>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>