<footer>
  <div class="container">
    <div class="row footer-contents">
      <div class="col-xs-4 col-xs-offset-2">
        <%= link_to ' お問い合わせはこちら', contact_index_path, class: "glyphicon glyphicon-envelope" %>
      </div>
      <div class="col-xs-5 col-xs-offset-1">
        <p>Copyright © idol places All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>