<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-8">
        <p>Copyright © idol scheduler All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>